---
import { Prism } from 'astro/components'
---

<h2 id="action-padding-macro">ActionPaddingMacro</h2>

<p>Properties:</p>
<Prism lang="dart" code={`NikuEdgeInsets? actionPadding;
`} />

<p>pt</p>
<p>Set top padding</p>

<p>pb</p>
<p>Set bottom padding</p>

<p>pl</p>
<p>Set left padding</p>

<p>pr</p>
<p>Set right padding</p>

<p>px</p>
<p>Set horizontal padding</p>

<p>py</p>
<p>Set vertical padding</p>
