---
import { Prism } from 'astro/components'
---

<h2 id="alignment-directional-macro">AlignmentDirectionalMacro</h2>

<p>Properties:</p>
<Prism lang="dart" code={`AlignmentGeometry? alignment;
`} />

<p>topStart</p>
<p>Use AlignmentDirectional.topStart</p>

<p>topCenter</p>
<p>Use AlignmentDirectional.topCenter</p>

<p>topEnd</p>
<p>Use AlignmentDirectional.topEnd</p>

<p>centerStart</p>
<p>Use AlignmentDirectional.centerStart</p>

<p>center</p>
<p>Use AlignmentDirectional.center</p>

<p>centerEnd</p>
<p>Use AlignmentDirectional.centerEnd</p>

<p>bottomStart</p>
<p>Use AlignmentDirectional.bottomStart</p>

<p>bottomCenter</p>
<p>Use AlignmentDirectional.bottomCenter</p>

<p>bottomEnd</p>
<p>Use AlignmentDirectional.bottomEnd</p>
