<footer class="flex flex-col sm:flex-row gap-4">
    <a 
        class="flex flex-col flex-1 gap-1"
        style="text-decoration: none"
        href="https://medium.com/@saltyaom/niku-thought-process-of-designing-a-balance-framework-1d9218fcdabd" 
        target="_blank"
        title="Read 'Niku: Thought Process of Designing a Balance Framework'"
    >
        <picture class="contents">
            <source type="image/webp" srcset="/assets/article.webp" />
            <img 
                src="/assets/article.jpg" 
                alt="Probably some anime writing some code"
                loading="lazy" 
                class="w-full max-w-3xl rounded shadow-xl mb-2"
            />
        </picture>
        <h4 class="text-xl">Thought Process of Designing a Balance Framework</h4>
        <p class="text-gray-500 text-sm font-light">Behind the scene, why I created it and how I balancing DX and performance</p>
    </a>

    <a 
        class="flex flex-col flex-1 gap-1"
        style="text-decoration: none"
        href="https://github.com/SaltyAom/niku/tree/exp/heaven-and-earth/example/lib" 
        target="_blank"
        title="See example on Github"
    >
        <picture class="contents">
            <source type="image/webp" srcset="/assets/niku.webp" />
            <img
                src="/assets/niku.jpg" 
                alt="Niku preview Github repo image" 
                loading="lazy"
                class="w-full max-w-3xl rounded shadow-xl mt-[6%] mb-2"
            />
        </picture>
        <h4 class="text-xl">See example on Github</h4>
        <p class="text-gray-500 text-sm font-light">Not sure where to go next or how does certain API work? Checkout example on GitHub.</p>
    </a>

</footer>