---
import { Prism } from 'astro/components'
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Niku - Create Flutter UI, Easier, Faster, Smarter</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#fff">

    <!-- Search Engine -->
    <meta name="title" content="Niku - Create Flutter UI, Easier, Faster, Smarter">
    <meta name="description" content="Compose Flutter UI from utilies Widget and extensions with dot cascade. Fluently developing without headache and Nested Hell. Niku: Create Flutter UI, Easier, Faster, Smarter">
    <meta name="author" content="saltyaom">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⾁</text></svg>" />

    <!-- Open Graph -->
    <link rel="canonical" href="https://v2.niku.saltyaom.com">
    <meta property="og:title" content="Niku - Create Flutter UI, Easier, Faster, Smarter">
    <meta property="og:description" content="Compose Flutter UI from utilies Widget and extensions with dot cascade. Fluently developing without headache and Nested Hell. Niku: Create Flutter UI, Easier, Faster, Smarter">
    <meta property='article:author' content="saltyaom">
    <meta property='og:site_name' content="Niku Documentation">
    <meta property="og:image" content="https://v2.niku.saltyaom.com/assets/og.jpg">
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="1080">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Niku - Create Flutter UI, Easier, Faster, Smarter">
    <meta name="twitter:description" content="Compose Flutter UI from utilies Widget and extensions with dot cascade. Fluently developing without headache and Nested Hell. Niku: Create Flutter UI, Easier, Faster, Smarter">
    <meta name="twitter:site" content="@saltyaom">
    <meta name="twitter:image" content="https://v2.niku.saltyaom.com/assets/og.jpg">
    <meta name="twitter:creator" content="@saltyaom">

    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
    <link rel="stylesheet" href={Astro.resolve('../styles/onenight.css')}>

    <style global>
        #heading {
            @apply flex justify-center w-full pt-14;
            height: 640px;
            background-image: #ffffff;
            background-image:  
                radial-gradient(at 87% 93%, hsla(3,0%,100%,1) 0, transparent 54%),  
                radial-gradient(at 41% 70%, hsla(54,100%,88%,1) 0, transparent 58%),  
                radial-gradient(at 55% 32%, hsla(3,0%,100%,1) 0, transparent 49%),  
                radial-gradient(at 67% 28%, hsla(260,100%,90%,1) 0, transparent 51%),  
                radial-gradient(at 50% 82%, hsla(193,100%,94%,1) 0, transparent 50%),  
                radial-gradient(at 10% 3%, hsla(174,100%,95%,1) 0, transparent 59%),  
                radial-gradient(at 14% 61%, hsla(3,0%,100%,1) 0, transparent 43%);        
        }

        @media not all and (min-resolution:.001dpcm) { 
            #heading {
                background-image:
                    radial-gradient(at 40% 20%, hsla(28,100%,74%,0.2) 0, transparent 50%),  
                    radial-gradient(at 80% 0%, hsla(189,100%,56%,0.2) 0, transparent 50%),  
                    radial-gradient(at 0% 50%, hsla(355,85%,93%,0.2) 0, transparent 50%),  
                    radial-gradient(at 80% 50%, hsla(340,100%,76%,0.2) 0, transparent 100%),  
                    radial-gradient(at 0% 100%, hsla(22,100%,77%,0.2) 0, transparent 50%),  
                    radial-gradient(at 80% 100%, hsla(195,100%,43%,0.4) 0, transparent 50%),  
                    radial-gradient(at 0% 0%, hsla(343,100%,76%,0.2) 0, transparent 50%)
            }
        }
    </style>

    <style lang="sass" global>
        pre
            @apply p-4 my-0

        #nav 
            @apply absolute top-0 left-0 flex justify-between items-center w-full h-14 px-4

        #niku
            @apply text-xl font-light text-gray-400

        #heading, #offers, #why
            & > .wrapper
                @apply flex flex-col justify-center items-start md:items-center gap-2 w-full h-full max-w-4xl mx-auto px-8

                & > .title
                    @apply text-4xl md:text-6xl font-bold md:text-center mb-4
                    line-height: 1.2
 
                & > .sub-title
                    @apply text-lg md:text-2xl text-gray-500 md:text-center

                & > .link
                    @apply text-xl text-gray-700 mt-8 px-9 py-3 rounded-lg border border-gray-700 backdrop-blur-2xl

        #why
            @apply bg-white rounded-xl

        #offers, #why
            @apply w-full max-w-5xl py-12

            & > .wrapper
                & > .title
                    @apply text-3xl md:text-4xl 

                & > .sub-title
                    @apply text-lg md:text-xl

        .card
            @apply flex flex-col md:flex-row items-center max-w-5xl w-full rounded-2xl bg-white md:p-12 gap-4 md:gap-12 overflow-hidden

            &.-reverse
                @apply md:flex-row-reverse

            & > pre
                @apply m-0

            & > .content
                @apply flex flex-1 flex-col gap-4 text-lg text-gray-600 p-6 pb-0 md:py-0 md:px-2 md:px-0

                & > .title
                    @apply text-3xl font-semibold text-gray-800

        #summarize
            @apply flex flex-col justify-center items-center gap-4 w-full max-w-5xl text-gray-500 text-xl rounded-2xl bg-white p-12
    </style>
</head>
<body>
    <nav id="nav">
        <a id="niku" href="/" role="heading" aria-level={1}>Niku</a>
        <a class="text-gray-400" href="https://github.com/saltyaom/niku" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
        </a>
    </nav>
    <header id="heading">
        <div class="wrapper">
            <h2 class="title">Create Flutter UI,<br />Easier, Faster, Smarter</h2>
            <h3 class="sub-title">Compose Flutter UI from utilies Widget and extensions with <u>dot cascade</u>.</h3>
            <h3 class="sub-title">Fluently developing without headache and Nested Hell.</h3>
            <a class="link" href="/docs">
                Getting Start
            </a>
        </div>
    </header>
    <main class="flex flex-col items-center w-full px-4 gap-12 py-16 bg-gray-50">
        <section class="card">
            <div class="content">
                <h3 class="title">Styling with ease, effortlessly</h3>
                <p>No more complex object, Niku offers composing both properties and parent directly without adding another layer of complexity.</p>
                <p>Helping you focus on widget itself, no more redundant properties as a widget.</p>
            </div>
            <Prism class="flex-1 w-full" lang="dart" code={`n.Text("Hello Niku")
  ..color = Colors.black
  ..bold
  ..useParent((v) => v
    ..bg = Colors.red
    ..rounded
    ..center
  );`} />
        </section>

        <section class="card -reverse">
            <div class="content">
                <h3 class="title">Shorten and shortcut property</h3>
                <p>Reduce redundant boilerplate code from your codebase, Niku cover many a lot of common pattern code normally found in Flutter app.</p>
                <p>Shorten your code, maintain your sanity. No more confusing complex basic pattern.</p>
            </div>
            <Prism class="flex-1 w-full" lang="dart" code={`n.TextFormField("Value")
  ..useDecoration((v) => v
    ..password
    ..outlined
    ..borderColor = Colors.blue
  );

n.Image.assets("assets/takodachi.png")
  ..cover
  ..circleProgress(
    (progress) => CircularProgressIndicator(
      value: progress,
      color: Colors.white,
    ),
  );`} />
        </section>

        <section class="card">
            <div class="content">
                <h3 class="title">Says goodbye to Nested-Hell</h3>
                <p>Nested Hell have been a problem for Flutter for a long time. It's undeniable that it's hard to read and maintain and nobody like that.</p>
                <p>With Niku, composing UI is simple, you use dot cascade to compose both properties and parent.</p>
            </div>
            <Prism class="flex-1 w-full" lang="dart" code={`Container()
  ..width = 50
  ..height = 50
  ..p = 10 // padiding
  ..bg = Colors.blue
  ..rounded = 8;`} />
        </section>

        <section class="card -reverse">
            <div class="content">
                <h3 class="title">And says hello to Stylesheet</h3>
                <p>Niku allows you to extract your styling out to anywhere of your code, then reuse it on any widgets.</p>
                <p>Without complex styling, helping you to focus on functionality of your apps instead.</p>
            </div>
            <Prism class="flex-1 w-full" lang="dart" code={`// Seperate from your main UI view
class Styles {
  static final title = n.Text("")
    ..fontSize = 72
    ..color = Colors.black
    ..bold
}

// Then main part of your app
n.Text()..apply = Styles.title`} />
        </section>

        <summarize id="summarize">
            <h1 class="text-black text-4xl font-bold">TLDR;</h1>
            <p>
                Niku helps you compose your UI declaratively, without headache.
            </p>
            <picture>
                <source type="image/webp" srcset="/assets/korone-drake-format.webp" />
                <img src="/assets/korone-drake-format.jpg" loading="lazy" alt="Korone Drake" title="Korone Drake Format" class="w-full max-w-3xl" />
                <figcaption class="text-sm text-center text-gray-400 font-light">Traditional Flutter vs Niku visualize with Korone Drake format</figcaption>
            </picture>
        </summarize>

        <section class="card">
            <div class="content">
                <h3 class="title">How to get start?</h3>
                <p>It's easy! Just add niku to your pubspec.yaml and that's just it! As simple as that.</p>
                <p>Just one line of code away form you to the future of better of experience of developing Flutter apps.</p>
            </div>
            <Prism class="flex-1 w-full" lang="yaml" code={`# pubspec.yaml
dependencies:
  flutter:
    sdk: flutter
    
  niku: 2.0.0-experimental.4`} />
        </section>

        <section class="card -reverse">
            <div class="content">
                <h3 class="title">Still not convinced?</h3>
                <p>Not sure why Niku is created or how does Niku fits to your codebase?</p>
                <p>There's an article written by the creator of Niku explaining the behind the scene, thought process, design decision, and why Niku is created in the first place.</p>
            </div>
            <a 
                class="flex flex-col flex-1 gap-1 p-4 lg:p-0"
                href="https://medium.com/@saltyaom/niku-thought-process-of-designing-a-balance-framework-1d9218fcdabd" 
                target="_blank"
                title="Read 'Niku: Thought Process of Designing a Balance Framework'"
            >
                <picture>
                    <source type="image/webp" srcset="/assets/article.webp" />
                    <img 
                        src="/assets/article.jpg" 
                        alt="Probably some anime writing some code" 
                        loading="lazy" 
                        class="w-full max-w-3xl mb-1 rounded shadow-xl"
                    />
                </picture>
                <h4 class="text-lg">Thought Process of Designing a Balance Framework</h4>
                <p class="text-gray-500 text-sm font-light">Behind the scene, why I created it and how I balancing DX and performance</p>
            </a>
        </section>

        <section id="offers">
            <div class="wrapper">
                <h2 class="title">Build better apps together</h2>
                <h3 class="sub-title">Flutter without effortlessly styling, reusable stylesheet, elimating Nested Hell.</h3>
                <h3 class="sub-title">Join communities of developer building better Flutter apps.</h3>
                <a class="px-9 py-3 text-blue-500 font-medium text-xl bg-blue-100/50 rounded-lg mt-6" href="/docs/quickstart">
                    Quickstart
                </a>
            </div>
        </section>
        <footer class="text-gray-400 mt-8">
            &copy; Provide to you by <a href="https://github.com/saltyaom">saltyAom</a>
        </footer>
    </main>
</body>
</html>
